.footer {
  text-align: center;
  background: #2c2b2b;
  padding: 50px;
}

.footer p {
  color: white;
}

#horizontal-list {
    padding: 0;
    font-size: 24px;
    margin: 12px
  }

ul#horizontal-list li {
    display: inline;
  }

#space-icons {
  padding: 12px;
  /*color: #E63946;*/
}

.fa-twitter {
  color: #1FDD87;
  font-size: 35px;
}

.fa-linkedin:before {
  color: #1FDD87;
  font-size: 35px;
}
